body{background-color: wheat;
align-items: center;
margin-left: 10rem;}
.cover{

width: 50rem;
    height: 70rem;
    background-color: white;
padding: 30PX;
}
.box1{
width: 15rem;
height: 20rem;
box-shadow: 7px 5px 10px gray;
align-items: center;
padding-top: 30px;

}
.box1 img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.box1 h1{
    font-size: medium;
}
.box1 p{
    font-size: smaller;
}
.box1 a{
text-decoration: none;
padding: 3px 3px;
background-color: blue;
color: white;
border-radius: 2px;

}
.coverme{display: flex;}
