.card{
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 4px 8px 15px black;
}
.all-container-content{
    background-color:white;
    padding: 40px;
    align-items: center;
    display: flex;
    column-gap: 3rem;
    box-shadow: 4px 8px 15px;
    
}
.card img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}
.btn a{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
}
.all-container{
text-align: center;
margin: 50px;
}
