body{background-color: lightgray;


}
.pre{
    height: 50px;
    background-color: rgb(199, 204, 218);
    align-items: center;
    width: 100%;
    border-radius: 30px;
    border-top: 2px ;
   
}

.pre-navbar{
    text-align: center;
padding-top: 0.5px;

}
.pre-navbar p{
    height: 20px;
    background-color: white;
    width: 50%;
    border: 1px solid grey;
    border-radius: 5px;
    color: grey;
}
.navbar img{
    margin-right: 12rem;
    margin-left: 3rem;
}

.navbar{
    display: flex;
    height: 70px;
    background-color: white;
}

.all-content{

height: 40rem;
width: 65rem;
background-color:  rgb(199, 204, 218);
border-top: 2px ;

box-shadow: 4px 8px 15px;
border-radius: 30px;







}



.btn{
text-align: right;
padding-top: 20px;
    
    font-size: smaller;
}
.btn a{   
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}



.btn a:last-child{
    margin-right: 80px;
    padding: 8px 15px;
    background-color: orangered;
    border-radius: 7px;
}
.content{
display: flex;
height: 30rem;
background-color:  rgb(199, 204, 218);
padding-top: rem;


width: 100%;
}
.text h2{
    font-size: small;
    color: orangered;
}
.text{
    padding-top: 6rem;
    margin-left: 100px;
text-align: left;
}
.content img{
    height: 500px;
}
.btn2 a{
    margin-right: 10px;
    text-decoration: none;
    border: 2px  black;
padding: 8px 20px;
border-radius: 8px;
color: black;
font-weight: 600;
}
.btn2 a:first-child{
    background-color: orangered;
    color: white;
}
.btn2 a:last-child{
    border: 1px solid;
}


.back-end{
    height: 3rem;
    background-color: white;
    padding-bottom: 2rem;
    padding-left: 15rem;
    align-items: center;
    padding-top: 7rem;
}
.back-end h1{
    font-size: medium; 
    margin-right: 5rem;
}
.text2{
   
    display: flex;
}
















